ASPNETCORE_ENVIRONMENT=Development

POSTGRES_DB=fintrox
POSTGRES_USER=fintrox
POSTGRES_PASSWORD=fintrox_dev
POSTGRES_PORT=5432

ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=fintrox;Username=fintrox;Password=fintrox_dev
